[Unit]
Description=DC1 Service
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/dc1server.jar
ExecReload=/bin/kill -USR1 $MAINPID
StandardOutput=null
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
