# systemctl启动服务时，配置日志输出控制;  
# StandardOutput=null是将程序业务日志输出到空，也可以指定文件，或者交给journal处理，常见参数有： 
# StandardInput=null  
# StandardOutput=inherit  
# StandardError=inherit  
# 如果取消StandardOutput=null，默认输出日志到/var/log/daemon,/var/log/syslog.  

[Unit]
Description=Dc1 Service
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/dc1server.jar
ExecReload=/bin/kill -USR1 $MAINPID
StandardOutput=null
Restart=always
RestartSec=30
StartLimitInterval=400
StartLimitBurst=5
KillMode=process

[Install]
WantedBy=multi-user.target
